http://example.com/test
https://www.wikipedia.org/
https://github.com/
https://en.wikipedia.org/404
https://ya.ru/
https://www.rfc-editor.org/rfc-index.txt
https://www.rfc-editor.org/rfc/rfc1918
https://www.rfc-editor.org/rfc/rfc6761
https://www.rfc-editor.org/rfc/rfc5741#section-2
https://www.rfc-editor.org/rfc/rfc4844
https://www.rfc-editor.org/rfc/rfc5741
https://www.rfc-editor.org/rfc/rfc5742
https://www.rfc-editor.org/rfc/rfc5743
https://www.rfc-editor.org/rfc/rfc5744
https://www.rfc-editor.org/rfc/rfc5745
https://www.rfc-editor.org/rfc/rfc5746
https://www.rfc-editor.org/rfc/rfc5747
https://www.rfc-editor.org/rfc/rfc5748
https://www.rfc-editor.org/rfc/rfc5749
https://www.rfc-editor.org/rfc/rfc5740
https://www.rfc-editor.org/rfc/rfc5741.txt
https://www.rfc-editor.org/info/rfc9289
https://www.rfc-editor.org/info/rfc9290
https://www.rfc-editor.org/info/rfc9291
https://www.rfc-editor.org/info/rfc9292
https://www.rfc-editor.org/info/rfc9293
https://www.rfc-editor.org/info/rfc9294
https://www.rfc-editor.org/info/rfc9295
https://www.rfc-editor.org/info/rfc9296
https://en.wikipedia.org/404
https://ya.ru/
https://www.rfc-editor.org/rfc-index.txt
